* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px;
}

.logo img {
    height: 50px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu ul li a:hover {
    text-decoration: underline;
}

/* New Section */
.content-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #29293d;
    color: white;
    padding: 50px;
}

.text-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    margin-bottom: 30px;
    color: #b3b3cc;
    /* Lower contrast */
}

.signup-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    /* Rounded corners */
}

.signup-button:hover {
    background-color: darkblue;
}


.image-content {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 16px;
    border: 2px dashed #cccccc;
    padding: 50px;
}